header#menu
    ul.navigation-menu
        li: a(href="/") Home
        li: a(href="/random") Random entry
        li: a(href="/about") About
    .secondary-menu
        button(onclick="toggleTheme()") Light
