extends base.pug

block content

    #entry-container
        #entry-content
            include includes/header.pug
            h1 #{title} 
            div !{content}

        #entry-image
            img(src="https://live.staticflickr.com/5126/5238211378_195bb2a700_b.jpg")