extends base.pug

block content

    #entry-container
        #entry-content
            include includes/header.pug
            h1 #{title} 
            div !{content}

        #entry-image
            img(src=`${imageUrl}`)