extends base.pug

block content
    include includes/header.pug

    h2 Tags
    p soon ...

    h2 Entries
    ul
        each entry in content
            li: a(href=`entry/${entry._id}`) #{entry.title}

