html, body {
    padding: 0;
    margin: 0;
}

body {
    // background-color: rgb(40,40,40);
    font-family: "Ubuntu";
    font-size: 16px;
    --surface-color: white;
    --on-surface: black;
    background-color: var(--surface-color);
    color: var(--on-surface);
}

#app {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
    #menu {
        display: flex;
        align-items: center;
        ul {
            list-style-type: none;
            padding: 0;
        }
        ul li {
            display: inline-block;
            margin-right: 15px;
        }
        ul li:last-child {
            margin-right: 0;
        }
        a {
            text-transform: uppercase;
            font-size: 0.9em;


        }
        .navigation-menu {
            flex: 1;
        }
    }
}

a, button {
    -webkit-appearance: button;
    color: var(--on-surface);
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 2px;
    background: 
    none;
    border: none;
    &:hover {
        border-bottom: 2px solid var(--on-surface);
        margin-bottom: 0px;
    }
}
button {
    font-weight: 700;
}


.dark-theme {
    --surface-color: black;
    --on-surface: white;

}